header {
	display: block;
	height: 35%;
	width: 75%;
	background-image: url("/images/birdy.jpg");
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.7;
}

h1 {
	position: absolute;
	margin-top: 120px;
	margin-left: 30px;
	opacity: 0.6;
	color: white;
}

h2, h3, a, form, .cheeps {
	color: white;
}

body {
	background-color: #56B3AE;
}
