<!DOCTYPE html>
<html>
<head>
	<title>Chitter</title>
	<link rel="stylesheet" type="text/css" href="/coolpage.css">
</head>

<body>
	<header>
	</header>

	<a href="#" id="sign_up">Sign up to start Cheeping!</a><br>
	<a href="#" id="sign_in">Already a user? Sign in!</a>

	<form id="registration">
		Fill in the following fields to sign up for Chitter!
		Name: <input name="name" id="r_name" type="text"><br>
		E-mail: <input name= "email" id="r_email" type="text"><br>
		Username: <input name= "username" id="r_username" type="text"><br>
		Password: <input name="password" id="r_password" type="password"><br>
		Confirm Password: <input name="password_confirmation" id="password_confirmation" type="password"><br>
		<a href="#" id="register">Join Chitter</a>
	</form>

	<form id="signing_in">
		E-mail: <input type="text" name="email" id="email"><br>
		Password: <input type="password" name="password" id="password"><br>
		<a href="#" id="login">Sign In</a>
	</form>

	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/interface.js"></script>
</body>


<!-- <head>

<link rel="stylesheet" type="text/css" href="/coolpage.css">
</head>

<header>
<h1>Chitter</h1>
</header>



<% if current_user %>
<form action="/sessions" method="post">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="Sign out">
</form>
<% end %>

<% if flash[:notice] %>
<div id="notice">
<%= flash[:notice] %>
</div>
<% end %>

<% if !current_user %>
<a href="/register">Sign up to start Cheeping!</a><br>
<a href="/sessions/new">Already a user? Sign in!</a>
<% end %>
 -->