<head>

	<link rel="stylesheet" type="text/css" href="/coolpage.css">
</head>

<header>
	<h1>Chitter</h1>
</header>

<%= yield %>

<% if current_user %>
	<form action="/sessions" method="post">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Sign out">
	</form>
<% end %>

<% if flash[:notice] %>
	<div id="notice">
		<%= flash[:notice] %>
	</div>
<% end %>

<% if !current_user %>
	<a href="/register">Sign up to start Cheeping!</a><br>
	<a href="/sessions/new">Already a user? Sign in!</a>
<% end %>

