<!-- <h3>Fill in the following fields to sign up for Chitter.</h3>

<% if flash[:errors] && !flash[:errors].empty? %>
		<ul id="errors">
			<% flash[:errors].each do |error| %>
			<li><%= error %></li>
			<% end %>
		</ul>
<% end %> -->