<h3>Fill in the following fields to sign up for Chitter.</h3>
<form action="/register" method="post">
E-mail: <input name="email" type="text">
Username: <input name="username" type="text">
Password: <input name="password" type="password">
Confirm Password: <input name="password_confirmation" type="password">
<input type="submit" value="Join Chitter">
</form>